/* START OF REGISTRATION PAGE */ /* START OF REGISTRATION PAGE */ /* START OF REGISTRATION PAGE */

    /* Background */
    
    *{
      margin:0px ;
      padding: 0px;
      box-sizing: border-box;    
    }
    
    
    .bgoverlay{
        width: 1420px;
        height: 867px;
        position: absolute;
        z-index: -3;
        margin-top: -10px;
    }       

    .bg{
        width: 1420px;
        height: 957px;
        background-color: #051946;
        opacity: 77%;
        margin-top: -100px;
        position: absolute;
        z-index: -2;
    }

    .bgnew{
      display: flex;
      box-sizing: border-box;
      
    }
    
    /* Header */
    .toplogo{
        position: absolute;
        width: 125px;
        margin-left: 26px;
        margin-top: 11px;
    }

    .rcmuname{
        font-family: Montserrat;
        position: absolute;
        color: white;
        font-size: 35px;
        margin-left: 128px;
        margin-top: 35px;
        font-weight: 550;
        font-stretch: expanded;

    }

    .pagename{
        font-family: Montserrat;
        position: absolute;
        color: white;
        font-size: 29px;
        margin-left: 1161px;
        margin-top: 35px;
        font-weight: 450;
        font-stretch: expanded;
        font-style: oblique;
    }


    


     
    /* Graphics */
    .mic{
        position: absolute;
        width: 1000px;
        margin-left: 276px;
        margin-top: 82px;
        display: inline;
    }

  .bglines{
    position: absolute;
    width: 1417px;
    z-index: -1;
  }

  .divider{
    position: absolute;
    width: 1420px;
    margin-top: 621px;
    z-index: 0;
  }

  .arrow{
    position: absolute;
    MARGIN-LEFT: 260px;
    WIDTH: 25px;
    margin-top: 471px;

  }

  .arrow:hover{
    color: rgb(19, 20, 20);
  }
