@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

*{
    font-family: poppins;
}


body,
input {
  font-family: "Poppins", sans-serif;
}

.landing-section {
  background-image: url("/Sign Up/graphics/PageBG.png");
  height: 1000px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.bgoverlay{
  width: 1420px;
  position: absolute;
  z-index: -3;
}       

.bg{
  width: 1420px;
  height: 957px;
  background-color: #051946;
  opacity: 77%;
  margin-top: -100px;
  position: absolute;
  z-index: -2;
}


/* Nav Bar */
.toplogo{
  position: absolute;
  width: 125px;
  margin-left: 26px;
  margin-top: 11px;
}

.signupbtn{
  display: inline-block; 
  font-size: 22px;
  font-family: "poppins";
  word-spacing: 0.5px;
  text-decoration: none;
  color: #fafafa;
  background-color: #8c00ff;
  border-radius: 10px;
  margin-right: 4rem;
  padding: 5px;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  transition: 300ms;
  margin: auto;
}

.signupbtn:hover {
  background-color: white;
  color: #06205f;
  transition: 300ms;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: 'segoe ui';
}

.nav {
  height: 0px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 72px;
  color: rgb(255, 255, 255);
  padding: 10px 10px 10px 10px;

}

.nav > .nav-btn {
  display: none;
}
@media (max-width: 1024px){
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px;
  }
}

.nav > .nav-links {
  display: inline;
  float: right;
  word-spacing: 13px;
  font-size: 22px;
  font-family: MADE Tommy Soft;
  inline-size: 807px;
  margin-top: 43px;
  margin-right: 1.9rem;
}

.nav-link {
  display: inline-block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: #e0e0e0;
}

.nav-link:hover {
  color: rgb(255, 255, 255);
}

.nav > #nav-check {
  display: none;
}

/* Hover Animation */

.hover-underline-animation {
  display: inline-block;
  position: relative;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

  
    /* Laptop Nav Bar */

    @media (max-width:1024px) {
      .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 70px;
        top: 33px;
        width: 60px;
      }
      .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 10px;
      }
      .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        background-color: rgba(0, 0, 0, 0.3);
      }
      .nav > .nav-btn > label > span {
        display: block;
        width: 35px;
        height: 13px;
        border-top: 3px solid #eee;
      }
      .nav > .nav-links {
        margin-top: 72px;
        position: absolute;
        display: block;
        width: 100%;
        height: 20px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
        backdrop-filter: blur(20px);
        z-index: 200;
      }
      .nav-link {
        display: block;
        width: 100%;
      }
      .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
      }
      .nav > #nav-check:checked ~ .nav-links {
        height: calc(52vh - 50px);
        overflow-y: auto;
      }

      .about {
          min-height: 220vh;
      }

      .header {
          font-size: 3.5rem;
          font-family: Poppins;
      }

      .about-text {
          margin-left: 5rem;
          margin-right: 5rem;
          margin-top: 3rem;
          font-size: 1.1rem;
          font-family: Poppins;
      }

      .signupbtn {
          display: block;
          float: none;
          width: 111px !important;
      }
    }

   .topic {
     font-size: 35px;
   }


.card{
    height: 500px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 60%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 0px 35px;
    color: white;
}

@media(max-width:430px){
  .card{
    height: 500px;
    width: 300px;
  }
}
form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.card-header{
  font-size: 30px;
  font-weight: 400;
}

*, *::before, *::after{
  box-sizing: border-box;
}

.custom-field{
  position: relative;
  font-size: 14px;
  padding-top: 20px;
  margin-top: 5px;
}

.custom-field input{
  padding: 8px;
  width: 300px;
  font-size: 14px;
  border-radius: 3px;
  border: 1.5px solid rgb(255, 255, 255);
  outline-color: deepskyblue;
  background-color: transparent;
  backdrop-filter: blur(10px) ;
  margin-bottom: 10px;
  color: white;
}

.custom-field .placeholder{
  position: absolute;
  left: 12px;
  top: calc(50% + 10px);
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
  transition: top 0.1s ease, font-size 0.1s ease, color 0.1s ease, opacity 0.15s ease;
}

.custom-field input:valid + .placeholder,
.custom-field input:focus + .placeholder{
  opacity: 0%;
}

.message{
  font-size: 70px;
  font-family: 'Ubuntu', sans-serif;
  color: steelblue;
}

.success{
  font-size: 18px;
  margin-top: 15px;
  color: seagreen;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.forgot{
  text-decoration: none;
  color: white;
  margin: 0,auto;
  opacity: 90%;
  font-size: 15px;
  text-align: center;
  padding-left: 13px;
}

.login-btn{
  background-color: #8c00ff;
  color: white;
  border-style: none;
  padding: 6px;
  font-size: 18px;
  border-radius: 8px;
  width: 100px;
  cursor: pointer;
  margin-right: 8px;
  margin-top: 20px ;
}

.login-btn:hover{
  background-color: #7004c9;
  transition: 300ms ease;
}

.sign-btn{
  background-color: #3700ce;
  color: white;
  border-style: none;
  padding: 6px;
  font-size: 18px;
  border-radius: 8px;
  width: 100px;
  cursor: pointer;
}
.sign-btn:hover{
  background-color: #3104ac;
  transition: 300ms ease;
}

.methods{
  margin-top: 20px;
  padding-left: 100px;
}

.g-signin{
  width: 250px;
  margin-top: 10px;
  transform: scale(100%);
  padding-left: 70px;
}
.g-signin:hover{
  opacity: 90%;
  cursor: pointer;
  transform: scale(95%);
  transition: 300ms;
}
.fb-signin{
  width: 250px;
  margin-top: 5px;
  margin-bottom: 100px;
  transform: scale(100%);
  padding-left: 70px;
}

.fb-signin:hover{
  opacity: 90%;
  cursor: pointer;
  transform: scale(95%);
  transition: 300ms;
}

@media(max-width:430px){
  .card{
    height: 500px;
    width: 300px;
  }
  .card-header{
    font-size: 20px;
    font-weight: 400;
  }
  .custom-field input{
    padding: 2px;
    width: 200px;
    font-size: 14px;
    border-radius: 3px;
    border: 1.5px solid rgb(255, 255, 255);
    outline-color: deepskyblue;
    background-color: transparent;
    backdrop-filter: blur(10px) ;
    margin-bottom: 10px;
    color: white;
  }
  .g-signin{
    width: 210px;
    margin-top: 10px;
    transform: scale(100%);
    padding-left: 10px;
  }
  .fb-signin{
    width: 210px;
    margin-top: 5px;
    margin-bottom: 100px;
    transform: scale(100%);
    padding-left: 10px;
  }
  .methods{
    margin-top: 20px;
    padding-left: 50px;
  }

}




/* FOOTER */

.footer{
  background-color: rgb(19, 23, 43);
  height: auto;
  padding: 30px 40px;
  display:flex;
  align-items: center;
  justify-content: center;
}

.footer-name{
  color: white;
  font-family: poppins;
  text-align: left;
  font-size: 1.5vw;
  position: relative;
  margin-top: 0%;
  margin: 0ch;
  border-right:1px solid white;
  padding:18px 0;
  padding-right:3vw;
  
}

.footer-copyright{
  margin:0;
  margin-top: 2%;
  color: rgb(196, 194, 194);
  font-family: poppins;
  text-align: left;
  font-size: 1.1vw;

}

.footer-site-links{
  display:inline-block;
}
.footer-site-links a{
  color:white;
  text-decoration: none;
  padding-right:0.5vw;
  font-family: poppins;
  font-weight: lighter;
  font-size: 1.2vw;
}
.footer-arrange{
  height:fit-content;
  width:fit-content;
  margin-left:3vw;
}
.footer-forward-list{
  margin:0;
  padding:0;
}
.footer img{
  width:10vw;
}
@media(max-width:850px){
  .footer-site-links a{
    font-size:1.3vw;
  }
  .footer-copyright{
    font-size:1.2vw;
  }
}
@media(max-width:750px){
  .footer-site-links a{
    font-size:1.5vw;
  }
  .footer-copyright{
    font-size:1.3vw;
  }
  .footer-name{
    font-size:2vw;
  }
}
@media(max-width:550px){
  .footer{
    flex-direction: column;
    justify-content: center;
    padding:10px;
  }
  .footer-name{
    border:none;
    text-align:center;
    padding:0;
    padding-top:2%;
  }
  .footer img{
    width:15vw;
  }
  .footer-arrange{
    margin:0;
    text-align:center;
  }
  .footer-site-links{
    font-size:2vw;
  }
}